.main-button {
  width: 85px;
  height: 40px;
  margin-left: 15px;
  background-color: #eebc1d !important;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  .paper {
    width: 400px;
    background-color: black;

    color: white;
    border-radius: 10px;
  }
  .google {
    padding: 24px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    font-size: 20px;
    .google-btn {
      width: 350px !important;
      height: 42px;
      background-color: #4285f4;
      border-radius: 2px;
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

      .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: -307px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: #fff;
      }
      .google-icon {
        margin-top: 11px;

        width: 18px;
        height: 18px;
      }
      .btn-text {
        text-align: center;
        margin-top: 4px;
        color: #fff;
        font-size: 14px;
        letter-spacing: 0.2px;
      }
    }
  }
  .facebook-button {
    width: 350px;
    height: 42px;
    background-color: #4285f4;
    .facebook-text {
      color: #fff !important;
      font-weight: bold !important;
      font-size: 25px;
      font-style: italic;
      margin-top: 6px;
    }
  }
}
